{% extends 'todo/main.html' %}
{% load static %}
{% block content %}

<section class="wrapper">
    <div class="side-bar">
        <div class="profile">
            <ul>
                <div>
                    <a href=""><img src="{% static 'image/OIP.jpg' %}" width="100" height="100"></a>
                </div>
                {% if user.is_staff %}
                <a href="{% url 'add' %}" id="add-btn"><li><span class="material-symbols-outlined">add</span>Add Task</li></a>
                <a href="{% url 'home' %}" id="view-btn"><li><span class="material-symbols-outlined">view_list</span>View Task</li></a>
                {% endif %}
                <a href="" id="today-btn"><li><span class="material-symbols-outlined">today</span>Today</li></a>
                <a href="upcoming.html" id="upcoming-btn"><li><span class="material-symbols-outlined">event_upcoming</span>Event</li></a>
                <a href="done.html" id="done"><li><span class="material-symbols-outlined">task</span>Done</li></a>
                <a href="team.html" id="team"><li><span class="material-symbols-outlined">groups</span>Team</li></a>
                <a href="{% url 'calendar' %}" id="team"><li><span class="material-symbols-outlined">calendar_month</span>Calender</li></a>
                <a href="profile.html" id="profile-btn"><li><span class="material-symbols-outlined">person</span>Profile</li></a>
                <a href="loginpage.html" id="login-btn"><li><span class="material-symbols-outlined">login</span>login</li></a>
                <a href="{% url 'logout' %}" id="logout-btn"><li><span class="material-symbols-outlined">logout</span>logout</li></a>
            </ul>
        </div>
    </div>

  <section id="view-section" class="section1">
    <div class="content-container">
        {% for contents in content %}
            <div class="content-item">
                <a href=""><img src="{{ contents.image.url }}" alt="{{ contents.title }}" align="{{ contents.title }}" width="200" height="200"></a>
                <a href="">{{ contents.title }}</a>
            </div>
        {% endfor %}
    </div>
</section>


</section>

<section>
    <span><p>&copy; 2024 InfinityMind Company. All Rights Reserved.</p></span>
</section>

<style type="text/css">
    span {
        cursor: pointer;
    }
.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px; /* Space between grid items */
    justify-items: center; /* Center items horizontally */
    
}

.content-item {
    text-align: center;
}

.content-item img {
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Ensure the image scales with container size */
}
a{
    text-decoration: none;
    color: black;
}
#view-section {
    background: #D3D3D3;
    overflow: hidden;
    scroll-behavior: smooth;
}
.content-item img{
    border-radius: 20px;
}
</style>

<script type="text/javascript">

</script>

{% endblock %}
